name: release-please

on:
  push:
    branches:
      - "**"

jobs:
  release-please:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      NODE_ENV: production
      CI: true

    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_GH_TOKEN }}
          release-type: node

      - uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Install dependencies
        run: bun install

      - name: Run typecheck
        run: bun run typecheck

      - name: Run lint
        run: bun run lint:CI

      - name: Run test
        run: bun test

      - name: Run build
        run: bun run build

      - run: bunx pkg-pr-new publish
        if: ${{ !steps.release.outputs.release_created && github.ref_type != 'tag' }}

      - name: Publish to npm
        run: bun publish --access public
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
        if: ${{ steps.release.outputs.release_created }}
